{% extends "base5.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab5.css')}}">
    <div class="head_menu">
        <div class="line">
            <div class="header-title">
                База знаний
            </div>

            <div class="header-url-zam">
                <a href="/lab5/articles">Посмотреть заметки</a>
            </div>

            <div class="header-url-cre">
                <a href="/lab5/new_article">Создать заметки</a>
            </div>
        
            <form action="/lab5/login5" class="button_log">
                <button class="button1" type="submit">Логин</button>
            </form>

            <form action="/lab5/register" class="button_reg">
                <button class="button1" type="submit">Регистрация</button>
            </form>

            {% if username %}
                <div class="username">
                    {{ username }}
                </div>
            {% else %}
                <div class="username">Anon</div>
            {% endif %}
        </div>
    </div>


    <div>
        <h1>{{ article_title }}</h1>
        {% for paragraph in article_text %}
        <p> {{ paragraph }} </p>
        {% endfor %}
    </div>
{% endblock %} 