<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ткаченко Екатерина. {% block lab%}{% endblock %} Лабораторная работа 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>

    <main>
        <h1><a href="/menu"> Меню </a> </h1>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; Ткаченко Екатерина, ФБИ-13, 3 курс, 2023
    </footer>
</body>
</html>