<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ткаченко Екатерина {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab5.css') }}">
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>