<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ткаченко Екатерина. Лабораторная работа {{lab_numb}}</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа {{lab_numb}}
    </header>

    <main>
        5 + 2 = {{ 5 + 2 }}<br>
        11 * 28 = {{ 11 * 28}}<br>
        8452 / 793 = {{ 8452 / 793}}<br>
        45**8 = {{ 45**8 }}<br>
    </main>

    <footer>
        &copy; {{ name }}, {{grop_name}}, {{cour_numb}} курс, 2023
    </footer>

</body>
</html>