{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}

<style>
    .image {
    display:flex;
    flex-wrap:wrap;
    
}
</style>
    
    <h1>Пятое место - Слойка с ветчиной и сыром</h1>
    <p>
        Состав: тесто слоеное, ветчина, сыр 
    </p>
    <p>
        Очень вкусная и сытная вкусняшка из Ярче за 26 рублей. Из плюсов - можно взять с собой и кушать на ходу. Из минусов - часто приходится разогревать в микроволновке, а вкус уже совершенно меняется. Спасибо господу богу за данное творение. Аминь.
    </p>
    <div class="image">
        <img src="{{ url_for('static', filename='sloika.png') }}">
    
    </div>
    
    <h1>Четвертое место - Фунчоза</h1>
    <p>
        Состав: бобовый крахмал, огурец, перец, морковка по-корейски, заправка для фунчозы
    </p>
    <p>
        Самая вкусная фунчоза из магазина Быстроном в городе Бердске за 33 рубля за 100 гр. Я всегда беру 200 гр и наедаюсь. В Быстрономе ее делают самые талантливые повара, именно там она получается очень приятной по текстуре. Из минусов - быстро портится. Опять же, дай бог здоровья тем людям, которые ее готовят.
    </p>
    <div class="image">
        <img src="{{ url_for('static', filename='funchose.jpg') }}">
    </div>

    <h1>Третье место - Вок с курицей террияки</h1>
    <p>
        Состав: лапша собственного приготовления, филе куриное, фасоль стручковая, болгарский перец, пекинская капуста, огурец, морковь, зелёный лук, капуста, яичный блин, микс кунжута, соус Терияки.
    </p>
    <p>
        Наверно это лучшая лапша вок в Новосибирске(и Бердске). Готовят ее недалеко на Студенческой,а это огромный плюс,ведь всегда можно порадовать себя вкусняшкой. Также из плюсов - ее вкус. Ну тут идеально все, кроме стручковой фасоли, которую я старательно избегаю от употребления. Стоит кстати эта прелесть 279 рублей, для студента эта сумма равна одному дню его несчастной жизни, но кто я такая чтобы отказывать своему желудку, поэтому я пошла работать только ради нее. Из минусов - цена, а также быстрое остывание. 
    </p>
    <div class="image">
        <img src="{{ url_for('static', filename='wok.jpg') }}">
    </div>

    <h1>Второе место - Роллы Небраска</h1>
    <p>
        Состав: нори, рис, крабовый микс, огурец, кунжут, соус Унаги
    </p>
    <p>
        Да,это скучный ролл, ведь он даже без творожный сыра и какой-либо шапочки, но(!) я наоборот ненавижу этот сыр и шапочки из него. Он родом из Суши Восток и стоит 189 рублей за 8 штук. Это прекрасно. Из мунусов - кунжут везде и застревает во рту.
    </p>
    <div class="image">
        <img src="{{ url_for('static', filename='rolls.jpg') }}">
    </div>

    <h1>Первое место - Пицца Пепперони</h1>
    <p>
        Состав: колбаса Пепперони, сыр моцарелла, томатный соус.
    </p>
    <p>
        Да,у меня скудный выбор на пиццу, но простота это классика, а классика всегда в моде. Самая вкусная пицца Пепперони в Бердске в магазине Быстроном. Там самый вкусный соус и самые вкусные колбаски пепперони. Это идеальный союз. В Академгородке вкусная пицца пепперони в ресторане Перчини в Эдеме. Восхитительная пицца за свою сумму. Минусов нет.
    </p>
    <div class="image">
        <img src="{{ url_for('static', filename='pep.jpg') }}">
    </div>
    <p>
        Спасибо за то что посетили наш сайт!
    </p>
{% endblock %}