{% extends "base.html" %}

{% block lab %} Лабораторная работа {{numLab}}{% endblock %}

{% block main %}
    {% if username %}
        <div style="margin-top: 10px;display:flex;justify-content: space-between;">
            <h1><a href="http://127.0.0.1:5000/lab5">База знаний</a></h1>
            <a href="http://127.0.0.1:5000/lab5/view_article">Просмотреть заметки</a>
            <a href="http://127.0.0.1:5000/lab5/new_article" style="margin-left: -40px;">Создать заметку</a>
            <a href="http://127.0.0.1:5000/lab5/login" class="log">Логин</a>
            <a href="http://127.0.0.1:5000/lab5/register" class="reg">Регистрация</a>
            <p>{{username}}</p>
        </div>
    {% endif %}
    <hr size="1">


    <div>
        <h1>{% if username %}Заметки {{username}}
            {% else %}Заметки {{ current_user.username }}
            {% endif %}
        </h1>
        {% if username %}
            <ol>
                {% for article in articles %}
                    <li style="margin-bottom: 20px; 
                                border: 2px solid; 
                                border-radius: 5px;">
                        <a href="/lab5/articles/{{ article.id }}">{{ article.title }}</a>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
        <ol>
                {% for article in articles %}
                    <li style="margin-bottom: 20px; 
                                border: 2px solid; 
                                border-radius: 5px;">
                        <a href="/lab6/articles/{{ article.id }}">{{ article.title }}</a>
                    </li>
                {% endfor %}
        </ol>
        {% endif %}
    </div>

{% endblock %}